# Data Science in Telco : Data Cleansing

## Objective : Cleansing Data

### Steps : 

1. Mencari ID pelanggan (nomor telepon) yang valid
2. Mengatasi data-data yang masih kosong (Missing values)
3. Mencari nilai-nilai pencilan (Outliers) dari setiap variabel
4. Menstandarisasi nilai

In [1]:
# Import libraries
import matplotlib.pyplot as plt
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('dqlab_telco.csv')

In [3]:
df.shape

(7113, 22)

In [4]:
# Dataframe before set_option display.max_column
df.head()

,UpdatedAt,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,202006,45759018157,Female,0,Yes,No,1.0,No,No phone service,DSL,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,202006,45557574145,Male,0,No,No,34.0,Yes,No,DSL,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,202006,45366876421,Male,0,No,No,2.0,Yes,No,DSL,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,202006,45779536532,Male,0,No,No,45.0,No,No phone service,DSL,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,202006,45923787906,Female,0,No,No,2.0,Yes,No,Fiber optic,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [5]:
pd.set_option('display.max_columns', 50)

In [6]:
df.head()

,UpdatedAt,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,202006,45759018157,Female,0,Yes,No,1.0,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,202006,45557574145,Male,0,No,No,34.0,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,202006,45366876421,Male,0,No,No,2.0,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,202006,45779536532,Male,0,No,No,45.0,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,202006,45923787906,Female,0,No,No,2.0,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [7]:
df['customerID'].nunique()

7017

In [8]:
df['customerID'].duplicated().sum()

96

In [9]:
df[df['customerID'].duplicated() == True].head()

,UpdatedAt,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
151,202006,4.54E+11,Male,0,No,No,7.0,Yes,Yes,Fiber optic,No,No,No,No,Yes,Yes,Month-to-month,No,Mailed check,95.00,655.50,Yes
330,202006,4.59E+11,Female,0,Yes,Yes,35.0,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,Yes,Mailed check,19.85,739.35,No
406,202006,4.55E+11,Male,0,Yes,Yes,60.0,Yes,Yes,Fiber optic,Yes,No,Yes,No,Yes,No,One year,Yes,Bank transfer (automatic),95.40,5812.00,No
417,202006,4.55E+11,Female,0,Yes,Yes,40.0,Yes,Yes,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,Yes,Mailed check,24.80,1024.70,No
564,202006,4.57E+11,Male,0,No,No,7.0,Yes,No,DSL,No,No,Yes,Yes,Yes,No,Month-to-month,No,Bank transfer (automatic),64.30,445.95,No

### 1. Mencari ID Pelanggan (nomor telepon) yang valid

Kriteria `customerID` yang benar :
- Panjang karakter adalah 11-12
- Terdiri dari angka saja, tidak diperbolehkan ada karakter selain angka
- Pada 2 digit pertama diawali dengan 45

In [10]:
df['valid_id'] = df['customerID'].astype(str)

In [11]:
df['valid_id'] = df['valid_id'].str.match(r'(45\d{9,10})')

In [12]:
df = df[df['valid_id'] == True]

In [13]:
df.shape

(7006, 23)

In [14]:
df = df.drop('valid_id', axis=1)

In [15]:
df.shape

(7006, 22)

In [16]:
# Drop baris data yang duplikat
df = df.drop_duplicates()

In [17]:
df.shape

(6999, 22)

In [18]:
df = df.sort_values('UpdatedAt', ascending=False).drop_duplicates('customerID')

In [19]:
df.shape

(6993, 22)

### 2. Handling Missing values

- Handling missing values dengan penghapusan baris

In [20]:
df['Churn'].isna().sum()

43

In [21]:
df.dropna(subset='Churn', inplace=True)

In [22]:
df.shape

(6950, 22)

- Handling missing values dengan pengisian nilai tertentu

In [23]:
df.isna().values.any()

True

In [24]:
df.isna().sum().sort_values(ascending=False)

tenure              99
MonthlyCharges      26
TotalCharges        15
UpdatedAt            0
DeviceProtection     0
PaymentMethod        0
PaperlessBilling     0
Contract             0
StreamingMovies      0
StreamingTV          0
TechSupport          0
OnlineBackup         0
customerID           0
OnlineSecurity       0
InternetService      0
MultipleLines        0
PhoneService         0
Dependents           0
Partner              0
SeniorCitizen        0
gender               0
Churn                0
dtype: int64

In [25]:
df['tenure'].fillna(11, inplace=True)

In [26]:
for col_name in list(['MonthlyCharges', 'TotalCharges']):
    median = df[col_name].median()
    df[col_name].fillna(median, inplace=True)

In [27]:
df.isna().sum().sort_values(ascending=False)

UpdatedAt           0
customerID          0
TotalCharges        0
MonthlyCharges      0
PaymentMethod       0
PaperlessBilling    0
Contract            0
StreamingMovies     0
StreamingTV         0
TechSupport         0
DeviceProtection    0
OnlineBackup        0
OnlineSecurity      0
InternetService     0
MultipleLines       0
PhoneService        0
tenure              0
Dependents          0
Partner             0
SeniorCitizen       0
gender              0
Churn               0
dtype: int64

### 3. Mendeteksi adanya Outliers (Boxplot)

- Outliers pada kolom `tenure` , `MonthlyCharges` dan `TotalCharges`

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6950 entries, 0 to 2360
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   UpdatedAt         6950 non-null   int64
 1   customerID        6950 non-null   object
 2   gender            6950 non-null   object
 3   SeniorCitizen     6950 non-null   int64
 4   Partner           6950 non-null   object
 5   Dependents        6950 non-null   object
 6   tenure            6950 non-null   float64
 7   PhoneService      6950 non-null   object
 8   MultipleLines     6950 non-null   object
 9   InternetService   6950 non-null   object
 10  OnlineSecurity    6950 non-null   object
 11  OnlineBackup      6950 non-null   object
 12  DeviceProtection  6950 non-null   object
 13  TechSupport       6950 non-null   object
 14  StreamingTV       6950 non-null   object
 15  StreamingMovies   6950 non-null   object
 16  Contract          6950 non-null   object
 17  PaperlessBilling  6950 non-null   object
 18  PaymentMethod     6950 non-null   object
 19  MonthlyCharges    6950 non-null   float64
 20  TotalCharges      6950 non-null   float64
 21  Churn             6950 non-null   object
dtypes: float64(3), int64(2), object(17)
memory usage: 1.2+ MB

In [29]:
print(df[['tenure', 'MonthlyCharges', 'TotalCharges']].describe())

            tenure  MonthlyCharges  TotalCharges
count  6950.000000     6950.000000   6950.000000
mean     32.477266       65.783741   2305.083460
std      25.188910       50.457871   2578.651143
min       0.000000        0.000000     19.000000
25%       9.000000       36.462500    406.975000
50%      29.000000       70.450000   1400.850000
75%      55.000000       89.850000   3799.837500
max     500.000000     2311.000000  80000.000000

- Nilai maximum dan minimum data bisa ditolerir
- Ubah nilai di luar range maximum dan minimum kedalam nilai maximum dan minimum

In [30]:
q1 = df[['tenure', 'MonthlyCharges', 'TotalCharges']].quantile(.25)
q3 = df[['tenure', 'MonthlyCharges', 'TotalCharges']].quantile(.75)
iqr = q3 - q1

In [31]:
maximum = q3 + iqr*1.5
minimum = q1 - iqr*1.5

print(maximum, '\n')
print(minimum)

tenure             124.00000
MonthlyCharges     169.93125
TotalCharges      8889.13125
dtype: float64

tenure             -60.00000
MonthlyCharges     -43.61875
TotalCharges     -4682.31875
dtype: float64

In [32]:
more_than = df > maximum
lower_than = df < minimum

df = df.mask(more_than, maximum, axis=1)
df = df.mask(lower_than, minimum, axis=1)

In [33]:
print(df[['tenure', 'MonthlyCharges', 'TotalCharges']].describe())

            tenure  MonthlyCharges  TotalCharges
count  6950.000000     6950.000000   6950.000000
mean     32.423165       64.992201   2286.058750
std      24.581073       30.032040   2265.702553
min       0.000000        0.000000     19.000000
25%       9.000000       36.462500    406.975000
50%      29.000000       70.450000   1400.850000
75%      55.000000       89.850000   3799.837500
max     124.000000      169.931250   8889.131250

### 4. Menstandarisasi nilai

- Mendeteksi data yang tidak sesuai standar

In [34]:
list_col = df.select_dtypes(exclude='float64').columns

In [35]:
list_col = list_col.drop(['UpdatedAt', 'customerID'])

In [36]:
for col_name in list_col:
    print(col_name)
    print(df[col_name].value_counts(),'\n')

gender
Male         3499
Female       3431
Wanita         14
Laki-Laki       6
Name: gender, dtype: int64

SeniorCitizen
0    5822
1    1128
Name: SeniorCitizen, dtype: int64

Partner
No     3591
Yes    3359
Name: Partner, dtype: int64

Dependents
No     4870
Yes    2060
Iya      20
Name: Dependents, dtype: int64

PhoneService
Yes    6281
No      669
Name: PhoneService, dtype: int64

MultipleLines
No                  3346
Yes                 2935
No phone service     669
Name: MultipleLines, dtype: int64

InternetService
Fiber optic    3057
DSL            2388
No             1505
Name: InternetService, dtype: int64

OnlineSecurity
No                     3454
Yes                    1991
No internet service    1505
Name: OnlineSecurity, dtype: int64

OnlineBackup
No                     3045
Yes                    2400
No internet service    1505
Name: OnlineBackup, dtype: int64

DeviceProtection
No                     3054
Yes                    2391
No internet service    1505
Name: DeviceProtection, dtype: int64

TechSupport
No                     3431
Yes                    2014
No internet service    1505
Name: TechSupport, dtype: int64

StreamingTV
No                     2774
Yes                    2671
No internet service    1505
Name: StreamingTV, dtype: int64

StreamingMovies
No                     2747
Yes                    2698
No internet service    1505
Name: StreamingMovies, dtype: int64

Contract
Month-to-month    3823
Two year          1670
One year          1457
Name: Contract, dtype: int64

PaperlessBilling
Yes    4114
No     2836
Name: PaperlessBilling, dtype: int64

PaymentMethod
Electronic check             2337
Mailed check                 1594
Bank transfer (automatic)    1519
Credit card (automatic)      1500
Name: PaymentMethod, dtype: int64

Churn
No       5114
Yes      1827
Churn       9
Name: Churn, dtype: int64

- Melakukan standarisasi variabel kategorik

In [38]:
df = df.replace(['Wanita', 'Laki-Laki', 'Churn', 'Iya'], ['Female', 'Male', 'Yes', 'Yes'])

In [39]:
for col_name in list_col:
    print(col_name)
    print(df[col_name].value_counts(),'\n')

gender
Male      3505
Female    3445
Name: gender, dtype: int64

SeniorCitizen
0    5822
1    1128
Name: SeniorCitizen, dtype: int64

Partner
No     3591
Yes    3359
Name: Partner, dtype: int64

Dependents
No     4870
Yes    2080
Name: Dependents, dtype: int64

PhoneService
Yes    6281
No      669
Name: PhoneService, dtype: int64

MultipleLines
No                  3346
Yes                 2935
No phone service     669
Name: MultipleLines, dtype: int64

InternetService
Fiber optic    3057
DSL            2388
No             1505
Name: InternetService, dtype: int64

OnlineSecurity
No                     3454
Yes                    1991
No internet service    1505
Name: OnlineSecurity, dtype: int64

OnlineBackup
No                     3045
Yes                    2400
No internet service    1505
Name: OnlineBackup, dtype: int64

DeviceProtection
No                     3054
Yes                    2391
No internet service    1505
Name: DeviceProtection, dtype: int64

TechSupport
No                     3431
Yes                    2014
No internet service    1505
Name: TechSupport, dtype: int64

StreamingTV
No                     2774
Yes                    2671
No internet service    1505
Name: StreamingTV, dtype: int64

StreamingMovies
No                     2747
Yes                    2698
No internet service    1505
Name: StreamingMovies, dtype: int64

Contract
Month-to-month    3823
Two year          1670
One year          1457
Name: Contract, dtype: int64

PaperlessBilling
Yes    4114
No     2836
Name: PaperlessBilling, dtype: int64

PaymentMethod
Electronic check             2337
Mailed check                 1594
Bank transfer (automatic)    1519
Credit card (automatic)      1500
Name: PaymentMethod, dtype: int64

Churn
No     5114
Yes    1836
Name: Churn, dtype: int64

## Summary

Terdapat beberapa value pada kolom `customerID` yang tidak valid sehingga harus disaring terlebih dahulu dengan kriteria 
tertentu. Terdapat pula beberapa missing value yang dapat ditangani dengan dua cara, pertama dihapus, kedua missing value diisi ke nilai tertentu. Selanjutnya dilakukan pendeteksian pencilan pada data. Data diluar jangkauan nilai minimum dan nilai maksimum akan diubah menjadi nilai maksimum atau nilai minimum tersebut. Terakhir dilakukan stardarisasi data agar unique valuenya sesuai terutama pada kolom tipe data kategorikal.

## Sample data cleaned

In [42]:
df.sample()

,UpdatedAt,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
2284,202006,45896302700,Male,0,No,Yes,3.0,Yes,No,DSL,Yes,No,Yes,No,No,No,Month-to-month,No,Mailed check,55.9,157.55,No